
.headings, .photo, .link{
    text-align: center;
}
.description {margin: auto; width: 50%; text-align: center;}

/* .headings {
    position: absolute;
}

.photo {
    position: relative;
    top: 32px;
    left: 32px;
} */